@mixin spacing($up, $left, $right, $down) {
	margin-top: $up;
	margin-left: $left;
	margin-right: $right;
	margin-bottom: $down
}

%shrink {
	max-width: 50%;
	height: auto;
	width: 100%;
	display: inline-block;
}

#index-page {
	background-image: url('http://fc02.deviantart.net/fs70/f/2012/227/6/d/professor_oak__s_lab_by_rosegardeninhell-d5b7ktm.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}

#aegislash {
	background-image: url('http://getwallpapers.com/wallpaper/full/e/d/5/8710.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;

}

#poke1 {
	position: relative;
	a:hover {
		opacity: 0.5
	}
		img {
			@extend %shrink;
			min-width: 25%;
	}
}

#poke2 {
	position: relative;
	a:hover {
		opacity: 0.5
	}
 img {
		 @extend %shrink;
		 min-width: 25%;
 }
}


#poke3 {
	position: relative;
		a:hover {
			opacity: 0.5
		}
		img {
			@extend %shrink;
			min-width: 25%;
		}
	}


#prof {
	.prof-img {
		position: fixed;
		min-width: 25%;
	}
}

#top-bar {
	background-color: #011936;
	opacity: 0.75;
	margin-top: -1em;


	}
	#logo {
		margin-left: 37%;
		margin-right: 50%;
		margin-top: 2em;
		img:empty {
			min-width: 20%;
			height: auto;
			width: 20%;
	}
}
#pokemon-pic {
	@include spacing(0em, 10em, 100%, 0);
	width: 75%;
	height: auto;
	animation-name: fadeOut;
	animation-duration: 3s;
	animation-delay: 3s;
	opacity: 0;
	animation-fill-mode: forwards;
}

#poke-intro {
	img {
	position: fixed;
	}

	h2 {
	position: relative;
	margin-left: 15em;
	color: #D4D2A5;
	font-family: 'Cinzel', serif;
	padding-top: 5em;
	opacity: 0;
	animation-name: fadeOutText;
	animation-duration: 3s;

	}

}

@keyframes fadeOutText {

    from {
    	font-size: 0em;
      opacity: 0;
    }

    to {
			font-size: 6em;
			opacity: 1;
    }
}

@keyframes fadeOut {

    from {
      opacity: 0;
    }

    to {
			opacity: 1;
    }
}
