@mixin spacing($up, $left, $right, $down) {
	margin-top: $up;
	margin-left: $left;
	margin-right: $right;
	margin-bottom: $down
}

@mixin shadow($color) {
	text-shadow:
		1px 1px 0 $color,
    -1px 2px 2px $color,
    1px -2px 2px $color,
    -1px -2px 2px $color,
    2px 1px 2px $color,
    -2px 1px 2px $color,
    2px -1px 2px $color,
    -2px -1px 2px $color;
}
//For font mobile responsiveness - from Smashing Magazine's Fluid Typography article

@mixin responsive($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

%shrink {
	max-width: 50%;
	height: auto;
	width: 100%;
	display: inline-block;
}

#index-page {
	background-image: url('http://fc02.deviantart.net/fs70/f/2012/227/6/d/professor_oak__s_lab_by_rosegardeninhell-d5b7ktm.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}

input {
	border: 2px solid black;
	@include spacing(10%, 7%, 0, 0);
	width: 25%;
}
button {
	border: 2px solid black;
	font-weight: bold;
}

#dragonite {
	background-image: url('Images/Dragonite-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}

#salamence {
	background-image: url('Images/Salamence-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}

#sceptile {
	background-image: url('Images/Sceptile-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}

// .frames {
// 	opacity: 0;
// }
//
// .show {
// 	opacity: 1;
// }
#poke1 {
	position: relative;
	a:hover {
		opacity: 0.5;
	}
		img {
			@extend %shrink;
			min-width: 25%;
			margin-right: 25px;
	}
}

#poke2 {
	position: relative;
	a:hover {
		opacity: 0.5
	}
 img {
		 @extend %shrink;
		 min-width: 25%;
		 margin-left: 200px;
		 margin-right: 50px;
 }
}


#poke3 {
	position: relative;
		a:hover {
			opacity: 0.5
		}
		img {
			@extend %shrink;
			min-width: 25%;
			margin-left: 430px;
		}
	}


#prof {
	.prof-img {
		position: fixed;
		min-width: 25%;
	}
}

#top-bar {
	margin-top: -1em;


	}
	#logo {
		margin-left: 37%;
		margin-right: 50%;
		margin-top: 2em;
		img:empty {
			min-width: 20%;
			height: auto;
			width: 20%;
	}
}
#pokemon-pic {
	@include spacing(0em, 35%, 100%, 0);
	width: 25%;
	height: auto;
	position: fixed;
	@include shadow(black);
	animation-name: fadeOut;
	animation-duration: 3s;
	animation-delay: 3s;
	opacity: 0;
	animation-fill-mode: forwards;
}

#pokemon-pic2 {
	@include spacing(0em, 50%, 100%, 10em);
	width: 50%;
	height: auto;
	position: fixed;
	animation-name: fadeOut;
	animation-duration: 3s;
	animation-delay: 3s;
	opacity: 0;
	animation-fill-mode: forwards;
}

#pokemon-pic3 {
	@include spacing(5em, 20%, 100%, 10em);
	width: 50%;
	height: auto;
	position: fixed;
	animation-name: fadeOut;
	animation-duration: 3s;
	animation-delay: 3s;
	opacity: 0;
	animation-fill-mode: forwards;
}


#poke-intro {
	position: fixed;
	h2 {
	position: relative;
	font-size: 3.0vw;
	margin-left: 15em;
	color: white;
	@include shadow(red);
	opacity: 0;
	animation-name: fadeOutText;
	animation-duration: 3s;
	@include responsive(font-size, 320px, 1366px, 10px, 20px);
	}
}

#poke-stats {
	position: relative;
	min-width: 25%;
	height: auto;
	.name {
		text-transform: capitalize;
	}

	.abilities{
		text-transform: capitalize;
	}
	h3 {
		padding-bottom: 1.5em;
		animation-name: fadeOut;
		animation-duration: 3s;
		animation-delay: 4s;
		animation-fill-mode: forwards;
		opacity: 0;
		color: white;
		@include shadow(red);
		@include responsive(font-size, 320px, 1366px, 15px, 30px);
	}
}

@keyframes fadeOutText {

    from {
    	font-size: 0em;
      opacity: 0;
    }

    to {
			font-size: 4em;
			opacity: 1;
    }
}

@keyframes fadeOut {

    from {
      opacity: 0;
    }

    to {
			opacity: 1;
    }
}
